body{
    font-family: 'Ubuntu';
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../machu picchu.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
h1 {
    color: white;
    -webkit-text-stroke: 1.2px black;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 10%;
}